@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Contáctanos!</h1>
<form>

    <div class="row">
        <div class="col-md-6 form-group">
            <label for="recipient-name" class="col-form-label">Nombre</label>
            <input type="text" class="form-control" id="txtNamePet" placeholder="Nombre" required>
        </div>
        <div class="col-md-6 form-group">
            <label for="recipient-name" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="txtNamePet" placeholder="Email" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label class="control-label">Mensaje</label>
            <textarea type="text" class="form-control" placeholder="Mensaje">

            </textarea>
        </div>
       
    </div>



</form>
<button type="button" class="btn btn-success" >
    <i class="far fa-send"></i>
    Enviar
</button>