@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a My Vet</h1>
    <p>Todo lo que necesitas para el cuidado de tu mascota tu mascota!</p>
    <br />
    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contáctenos!</a>
</div>
