@{
    ViewData["Title"] = "Mis Citas";
}

<h1>Listado de Citas</h1>


<p>

    <button class="btn btn-primary" >

       <i class="fas fa-table"></i> Nuevo Cita
    </button>
</p>

<div class="row">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Mascota</th>
                <th scope="col">Servicio</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Cierre</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tbody id="cuerpoDates"></tbody>
    </table>

</div>